@using RazorHtmlEmails.RazorClassLib.Views.Emails.ConfirmAccount
@using RazorHtmlEmails.RazorClassLib.Views.Shared
@model ConfirmAccountEmailViewModel

@{
    ViewData["EmailTitle"] = "Welcome!";
}

<p>
    We're excited to have you get started. First, you need to confirm your below account details. Just press the button below.
</p>

<div class="details">
    <div class="detail-row">
        <div class="label">Name:</div>
        <div class="value">@Model.Name</div>
    </div>
    <div class="detail-row">
        <div class="label">Phone:</div>
        <div class="value">@Model.Phone</div>
    </div>
    @if (!string.IsNullOrEmpty(Model.Email))
    {
        <div class="detail-row">
            <div class="label">Email:</div>
            <div class="value">@Model.Email</div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.Address))
    {
        <div class="detail-row">
            <div class="label">Address:</div>
            <div class="value">@Model.Address</div>
        </div>
    }
</div>

<br />

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Confirm Details", Model.ConfirmEmailUrl))

<br />

<p>
    If you have any questions, just reply to this email—we're always happy to help out.
</p>

<br />

<p>
    The Poewer Gym Team
</p>